body {
  background: url("http://herobryan66.github.io/BG.jpg");
background-repeat: no-repeat;
  Background-size: cover;
width: 100%;
}
h1{ font-family: 'Black Ops One', cursive;
}
#ti {
  text-align: center;
  margin-top: 8%;
  margin-right: 100px;
  font-size: 100px;
  color: white;
  text-shadow: 0px 0px 19px black;
}